@import './variables.scss';

body {
    background-color: rgba(255, 255, 255, 1)
}

.container {
    display: block;
    max-width: 1340px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 0 15px;
}

span {
    font-family: $Open;
    color: $grTwo;
}

h3 {
    font-family: $DM;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
span {
    margin: 0;
    padding: 0;
}

b {
    font-family: 'Open Sans', sans-serif;
}

